html{
	box-sizing: border-box;
}

*,
*::before,
*::after{
	box-sizing: inherit;
	font-family: "Mukta" ,sans-serif;
}

body{
	margin: 0;
	padding: 0;
	/*background-color: lightblue;*/
}

button{
	border: none;
	outline: none;
    padding: 10px;
    background-color: #2CAC9D;
    color: white;
    font-weight: bold;
}

.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
}

.modal-block{
	display: none;
	width: 0;
	height: 0;
}

h1{
	color: black;
}

.channel{
	margin: 0;
	padding: 0;
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
    text-decoration: none;
	padding: 0 5px;
	margin-left: 65px;
}

.box-wrapper{
	border-radius: 10px;
	padding: 30px;
	background-color: white;
}

.channel p{
	color: black;

}

.channel img{
   margin-right: 10px;
}

#btnclose{
	display: inline-block;
	background-color: white;
	padding: 5px;
	color: black;
	border: none;
	outline: none;
	margin-left: 340px;
}